/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

#wrapper_1 {
  width: 70%;
  display: block;
  float: left;
}

.wrapper_2 {
  width: 29%;
  display: block;
  float: left;
}

.shadow {
  margin: 5px 10px;
}

.row_1 {
  height: 550px;
  overflow: hidden;
}

.deals {
  float: left;
  width: auto;
}

.shadow1 {
  margin: 10px;
  width: 30%;
  float: left;
  top: 10px;
  display: block;
}
